mat-form-field {
    width: 90%;
}

.container {
    margin-top: 4em;
    overflow: hidden;
}

.title-input {
    width: 60%;
    padding-left: 1.875rem;
    margin-top: 2em;
}

.desc-input {
    width: 90%;
    padding-left: 1.875rem;
    margin-top: 2em;
}



.save-btn {
    margin: 1em;
    padding-inline: 2em;
    margin-top: 2em;
}

.cancel-btn {
    margin-left: 2em;
}