<mat-card class="example-card text-center">
  <mat-card-header class="justify-content-center">
    <mat-icon mat-card-avatar>task_alt</mat-icon>
    <ng-container *ngIf="userDetails">
      <mat-card-title>{{ userDetails.title }}</mat-card-title>
    </ng-container>
  </mat-card-header>

  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <div matLine>
          Description :
          <ng-container *ngIf="userDetails && userDetails.description">
            <button mat-button>
              {{ userDetails.description }}
            </button>
          </ng-container>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div matLine>
          Due Date :
          <ng-container *ngIf="userDetails">
            <button mat-button>
              {{ userDetails.dueDate | date }}
            </button>
          </ng-container>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div matLine>
          Status :
          <ng-container *ngIf="userDetails">
            <button mat-button>
              {{ userDetails.status }}
            </button>
          </ng-container>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
